<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nero_robot">
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:arg name="type" default="v1"/>
    <xacro:arg name="stand" default="v1"/>
    <xacro:arg name="direction" default="left"/>
    <xacro:arg name="gazebo" default="false" />

    <xacro:property name="prefix" value="$(arg direction)_"/>

    <xacro:include filename="$(find nero_description)/xacro/nero.xacro"/>

    <link name="world"/>
    <joint name="world_fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link"/>
    <joint name="${prefix}base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="${prefix}base_link"/>
        <origin xyz="0 0 0" rpy="0 0 3.14159"/>
    </joint>

    <xacro:Nero type="$(arg type)" stand="$(arg stand)" direction="$(arg direction)" prefix="${prefix}"/>

    <xacro:include filename="$(find nero_description)/xacro/ros2_control/nero.ros2_control.xacro" />
    <xacro:nero_system
            name="NeroSystem"
            prefix="${prefix}"
            ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

    <xacro:if value="$(arg gazebo)">
        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find nero_description)/config/ros2_control/nero_controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>