<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 包含轮子模块 -->
    <xacro:include filename="$(find arx_lift2s_description)/xacro/components/wheel.xacro"/>

    <xacro:macro name="MobileBase" params="enable_wheel_joints:='true'">

        <link name="base_link">
            <inertial>
                <origin xyz="-0.010039 0.0013761 0.04956"/>
                <mass value="21.045"/>
                <inertia ixx="1.70029164" ixy="-0.00073232" ixz="-0.03255532" iyy="1.70804910" iyz="-0.00688370" izz="0.97173287"/>
            </inertial>
            <visual>
                <geometry><mesh filename="file://$(find arx_lift2s_description)/meshes/base_link.glb"/></geometry>
            </visual>
            <collision>
                <geometry><mesh filename="file://$(find arx_lift2s_description)/meshes/base_link.glb"/></geometry>
            </collision>
        </link>



        <xacro:if value="${enable_wheel_joints}">
            <link name="wheel_1"/>
            <link name="wheel_2"/>
            <link name="wheel_3"/>
        </xacro:if>

        <xacro:unless value="${enable_wheel_joints}">
            <xacro:wheel wheel_name="wheel_1" enable_passive_wheels="false" mesh_rpy="0 0 0"/>
            <xacro:wheel wheel_name="wheel_2" enable_passive_wheels="false" mesh_rpy="0 0 0"/>
            <xacro:wheel wheel_name="wheel_3" enable_passive_wheels="false" mesh_rpy="0 0 ${pi}"/>
        </xacro:unless>

        <xacro:property name="wheel_joint_type" value="fixed"/>
        <xacro:if value="${enable_wheel_joints}">
            <xacro:property name="wheel_joint_type" value="continuous"/>
        </xacro:if>

        <joint name="wheel1_joint" type="${wheel_joint_type}">
            <origin xyz="0.15361 0.29246 -0.093" rpy="0.0 0.0 1.0472"/>
            <parent link="base_link"/>
            <child link="wheel_1"/>
            <xacro:if value="${enable_wheel_joints}"><axis xyz="1 0 0"/></xacro:if>
        </joint>

        <joint name="wheel2_joint" type="${wheel_joint_type}">
            <origin xyz="0.15361 -0.29245 -0.093" rpy="0.0 0.0 -1.0472"/>
            <parent link="base_link"/>
            <child link="wheel_2"/>
            <xacro:if value="${enable_wheel_joints}"><axis xyz="1 0 0"/></xacro:if>
        </joint>

        <joint name="wheel3_joint" type="${wheel_joint_type}">
            <origin xyz="-0.35293 0 -0.093" rpy="0.0 0.0 0"/>
            <parent link="base_link"/>
            <child link="wheel_3"/>
            <xacro:if value="${enable_wheel_joints}"><axis xyz="-1 0 0"/></xacro:if>
        </joint>

    </xacro:macro>
</robot>
<link name="lift_link">
    <inertial>
        <origin xyz="-0.053315 -0.00061422 -0.0086454"/>
        <mass value="14.181"/>
        <inertia ixx="0.32744849" ixy="-0.00306617" ixz="0.05920163" iyy="0.36541112" iyz="0.00117932" izz="0.49616592"/>
    </inertial>
    <visual>
        <geometry><mesh filename="file://$(find arx_lift2s_description)/meshes/body4_1.glb"/></geometry>
    </visual>
    <collision>
        <geometry><mesh filename="file://$(find arx_lift2s_description)/meshes/body4_1.glb"/></geometry>
    </collision>
</link>

